body {
    background-color: rgb(196, 196, 196);
}

/* header */
header {
    color: #fff;
    background-color: #292929;
    background-size: cover;
    height: 100px;

}

.h1header {
    float: left;
    margin-left: 47%;
}

/* article */

article {
    float: right;
    width: 75%;
}


/* aside */

aside {
    color: #fff;
    background-color: #292929;
    float: left;
    width: 20%;
    height: 1000px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #868686;
}

a:active {
    color: #868686;

}

.principal {
    margin-bottom: 10px;
    margin-left: 8%;
}

.sub {
    margin-bottom: 25px;
    margin-left: 8%;
}

/* footer */

footer {
    color: #fff;
    clear: both;
    background-color: #292929;
    background-size: cover;
    height: 110px;
}

.ulfooter {
    float: left;
}

h5{
    float: right;
    margin-right: 20px;
}